{% extends 'display/display_skin.html' %}

{% block script%}
<script type="text/javascript">
			$('#theplayer').get(0).play();

			var window_focus;

			setInterval(function() {
				if($('#theplayer').get(0).paused){
				}
				else{
					ajaxcall()
				}
			}, 10000);
	</script>
{% endblock %}


{% block title %}
<center><h1>{{fileviewing.file.title}}</h1></center>
{% endblock %}


{% block body %}

<video id = "theplayer" width="100%" height="100%" controls>
    <source src="{% url 'get_file' token.id %}" type="video/mp4">
</video>
{% endblock %}